.cardOne {
      width: 30%;
      margin: 20px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
      background-color: var(--bg-card);
      border-radius: 15px;

      .cardTitle {
            padding: 20px;
            font-size: 19px;
            text-align: left;
            font-weight: 700;
      }

      .cardText {
            padding: 0px 20px;
            text-align: left;
            font-size: 14px;
      }

      .cardImage {
            width: 100%;
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
      }
}