:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light-theme dark-theme; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*colors for text and background */

  --text-primary-light: black;
  --text-primary-dark: white;

  --bg-primary-light: #F4F6F9;
  --bg-primary-dark: #15202B;
  --bg-card-grey: rgb(158 158 158 / 17%);
  --text-icon:#f1c40f;
  
}

.light-theme {
  color: var(--text-primary-light);
  background-color: var(--bg-primary-light);
  --bg-card: var(--bg-primary-light);
  --bg-ball: var(--bg-primary-dark);
  --icon-color:var(--text-icon);
  --bg-checkbox:var(--bg-card-grey);

}

.dark-theme {
  color: var(--text-primary-dark);
  background-color: var(--bg-primary-dark);
  --bg-card: var(--bg-card-grey);
  --bg-ball: var(--bg-primary-light);
  --bg-checkbox:var(--bg-card-grey);

}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  transition: 0.2s linear;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light-theme) {
  :root {
    /* color: black;
    background-color: #ffffff; */
  }
}